// Store all your global variables, such as colors, font sizes, breakpoints, and other reusable values

// flex properties
$display-flex: flex;
$align-items: center;

// colors
$main-background: #005896;
