.profile-card-block {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__image {
    border-radius: 50%;
  }

  &__container {
    & h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }

    & p {
      font-size: 1.5rem;
    }
  }
}
