@import "variables";

.app-block {
  display: $display-flex;

  &__container {
    /* TODO: flex-grow:1 => flex is only a temporary property to format the routing pages */
    flex: 1 0 0;
    background-color: #001331;
    padding: 5rem 3rem;
  }
}
