.header-block {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  &__brand {
    font-size: 2rem;
    font-weight: bold;
  }

  &__option {
    cursor: pointer;
  }
}
