@import "variables";

.header-block {
  display: $display-flex;
  gap: 1rem;
  justify-content: center;
  align-items: $align-items;
  margin-bottom: 15rem;

  &__logo {
    display: $display-flex;
    align-items: $align-items;
    gap: 1rem;
    cursor: pointer;
  }

  &__brand {
    font-size: 2rem;
    font-weight: bold;
  }

  &__option {
    cursor: pointer;
  }
}
