.sidebar-header {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sidebar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.sidebar-option {
  cursor: pointer;
}
