.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.logout:hover {
  background-color: var(--mainBackgroundColor);
  transition: .2s;
}
