@import "variables";

.logout-block {
  &__container {
    display: $display-flex;
    align-items: $align-items;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $main-background;
      transition: 0.2s;
    }
  }
}
