<div class="navigation">
  <a routerLink="dashboard" routerLinkActive="active">
    <div class="navigation-item">
      <img ngSrc="./assets/grid-outline.svg" alt="dashboard" height="25" width="25"/>
      <p class="navigation-title">Dashboard</p>
      <img ngSrc="./assets/chevron_right.svg" alt="chevron" height="16" width="16"/>
    </div>
  </a>
  <a routerLink="projects" routerLinkActive="active">
    <div class="navigation-item">
      <img ngSrc="./assets/create-outline.svg" alt="project" height="25" width="25"/>
      <p class="navigation-title">Project</p>
      <img ngSrc="./assets/chevron_right.svg" alt="chevron" height="16" width="16"/>
    </div>
  </a>
  <a routerLink="tasks" routerLinkActive="active">
    <div class="navigation-item">
      <img ngSrc="./assets/reader-outline.svg" alt="task" height="25" width="25"/>
      <p class="navigation-title">Task</p>
      <img ngSrc="./assets/chevron_right.svg" alt="chevron" height="16" width="16"/>
    </div>
  </a>
  <a routerLink="calendar" routerLinkActive="active">
    <div class="navigation-item">
      <img ngSrc="./assets/calendar-outline.svg" alt="calendar" height="25" width="25"/>
      <p class="navigation-title">Calendar</p>
      <img ngSrc="./assets/chevron_right.svg" alt="chevron" height="16" width="16"/>
    </div>
  </a>
  <a routerLink="report" routerLinkActive="active">
    <div class="navigation-item">
      <img ngSrc="./assets/shield-checkmark-outline.svg" alt="report" height="25" width="25"/>
      <p class="navigation-title">Report</p>
      <img ngSrc="./assets/chevron_right.svg" alt="chevron" height="16" width="16"/>
    </div>
  </a>
  <a routerLink="settings" routerLinkActive="active">
    <div class="navigation-item">
      <img ngSrc="./assets/settings-outline.svg" alt="calendar" height="25" width="25"/>
      <p class="navigation-title">Settings</p>
      <img ngSrc="./assets/chevron_right.svg" alt="chevron" height="16" width="16"/>
    </div>
  </a>
</div>
