
@import 'variables';

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

.navigation-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.navigation-item:hover {
  background-color: $main-background;
  transition: .2s;
}

.navigation-title {
  margin-right: auto;
}

.active {
  background-color: $main-background;
  border-radius: 10px;
}
