<div class="navigation-block">
  <a
    class="navigation-block__routing"
    routerLink="dashboard"
    routerLinkActive="navigation-block__routing--active"
  >
    <div class="navigation-block__item">
      <img
        ngSrc="./assets/grid-outline.svg"
        alt="dashboard"
        height="25"
        width="25"
      />
      <p class="navigation-block__title">Dashboard</p>
      <img
        ngSrc="./assets/chevron_right.svg"
        alt="chevron"
        height="16"
        width="16"
      />
    </div>
  </a>
  <a
    class="navigation-block__routing"
    routerLink="projects"
    routerLinkActive="navigation-block__routing--active"
  >
    <div class="navigation-block__item">
      <img
        ngSrc="./assets/create-outline.svg"
        alt="project"
        height="25"
        width="25"
      />
      <p class="navigation-block__title">Project</p>
      <img
        ngSrc="./assets/chevron_right.svg"
        alt="chevron"
        height="16"
        width="16"
      />
    </div>
  </a>
  <a
    class="navigation-block__routing"
    routerLink="tasks"
    routerLinkActive="navigation-block__routing--active"
  >
    <div class="navigation-block__item">
      <img
        ngSrc="./assets/reader-outline.svg"
        alt="task"
        height="25"
        width="25"
      />
      <p class="navigation-block__title">Task</p>
      <img
        ngSrc="./assets/chevron_right.svg"
        alt="chevron"
        height="16"
        width="16"
      />
    </div>
  </a>
  <a
    class="navigation-block__routing"
    routerLink="calendar"
    routerLinkActive="navigation-block__routing--active"
  >
    <div class="navigation-block__item">
      <img
        ngSrc="./assets/calendar-outline.svg"
        alt="calendar"
        height="25"
        width="25"
      />
      <p class="navigation-block__title">Calendar</p>
      <img
        ngSrc="./assets/chevron_right.svg"
        alt="chevron"
        height="16"
        width="16"
      />
    </div>
  </a>
  <a
    class="navigation-block__routing"
    routerLink="report"
    routerLinkActive="navigation-block__routing--active"
  >
    <div class="navigation-block__item">
      <img
        ngSrc="./assets/shield-checkmark-outline.svg"
        alt="report"
        height="25"
        width="25"
      />
      <p class="navigation-block__title">Report</p>
      <img
        ngSrc="./assets/chevron_right.svg"
        alt="chevron"
        height="16"
        width="16"
      />
    </div>
  </a>
  <a
    class="navigation-block__routing"
    routerLink="settings"
    routerLinkActive="navigation-block__routing--active"
  >
    <div class="navigation-block__item">
      <img
        ngSrc="./assets/settings-outline.svg"
        alt="calendar"
        height="25"
        width="25"
      />
      <p class="navigation-block__title">Settings</p>
      <img
        ngSrc="./assets/chevron_right.svg"
        alt="chevron"
        height="16"
        width="16"
      />
    </div>
  </a>
</div>
