@import "variables";

.navigation-block {
  display: $display-flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;

  &__routing {
    &--active {
      background-color: $main-background;
      border-radius: 10px;
    }
  }

  &__item {
    display: $display-flex;
    align-items: $align-items;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $main-background;
      transition: 0.2s;
    }
  }

  &__title {
    margin-right: auto;
  }
}
