@import "variables";

.header-block {
  margin-bottom: 5rem;
  display: $display-flex;
  justify-content: space-between;
  align-items: $align-items;

  &__container {
    text-align: right;
    flex: 1 0 auto;
  }
}
